*
{
    margin: 0;
    padding: 0;
    color: white;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/42/6c/e9/426ce9a52f3b540cad0e2ee43d46bbb5.gif);

}
.container
{
    background-color: rgb(252, 1, 85);
    border: 3px dashed purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
input
{
    background-color:rgb(30, 238, 30);
    height: 25px;
    color: blue;
}
button
{
    background-color: rgb(151, 252, 1);
    border: 0;
    padding: 5px;
    font-size: 15px;
    color: blue;
    font-weight: bold;
}
p
{
    line-height: 2;
    font-size: 20px;
}